.venv/
__pycache__/
*/__pycache__/
.ruff_cache/
.pytest_cache/
*.pyc
.git/
.gitignore
data_cache/
models/
*.egg-info/
.kaggle/
.vscode/
*.md
*.png
*.jpg
*.jpeg
tests/
docs/
Jenkinsfile
requirements-dev.txt