.venv/
__pycache__/
*/__pycache__/
.ruff_cache/
.pytest_cache/
.vscode/
.kaggle/
.coverage
.gitattributes
*.pyc
.git/
.gitignore
models/
*.egg-info/
.env
.kaggle/
.vscode/
*.md
*.png
*.jpg
*.jpeg
tests/
docs/
Jenkinsfile
demo/
