.venv/
__pycache__/
*/__pycache__/
.ruff_cache/
.pytest_cache/
*.pyc
.git/
.gitignore
*.egg-info/
.env
.kaggle/
.vscode/
*.md
*.png
*.jpg
*.jpeg
tests/
docs/
Jenkinsfile
requirements-dev.txt
data_cache/
*/data_cache/